{:paths   ["src"]
 :deps    {com.amazonaws/aws-java-sdk-s3 {:mvn/version "1.12.144"}}
 :aliases {:build {:deps       {io.github.seancorfield/build-clj {:git/tag "v0.6.7" :git/sha "22c2d09"}}
                   :ns-default build}
           :s3d   {:exec-fn  s3-mvn-upload.core/deploy
                   :jvm-opts ["-Dclojure.main.report=stderr"]}}}
